{% extends 'user_base.html' %}


{% block content %}




<div class="main-panel" style="float: left;">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          My Tickets
        </h3>
        <div style="float: right;">
          <a href="User_Add_Ticket"><button type="button" class="btn btn-primary btn-sm">Add New</button></a>
      </div>              
      </div>              
      
      <!--Table-->

      <div class="card">
        <div class="card-body">
              <div class="row">
                  <div class="col-md-4">
                    <select class="form-control" style="padding: 5px; padding-right: 70px;">
                        <option value="All Department">All Department</option>
                        <option value="Host">Host</option>
                        <option value="Domain">Domain</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" style="padding: 5px; padding-right: 70px;">
                        <option value="All Priority">All Priority</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <div id="datepicker-popup" class="input-group">
                        <span class="far fa-calendar input-group-text" style="padding: 10px; font-size: 10px;"></span>
                        <input type="date" class="form-control" style="font-size: 15px; padding: 10px;">
                    </div>
                  </div>
              </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-12">
              <div class="table-responsive">
                <table id="order-listing" class="table table-striped">
                  <thead>
                    <tr>
                        <th>SL NO</th>
                        <th>Department</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in ut_data %}
                      {% if data.user == user_name %}
                      <tr>
                          <td>{{data.id}}</td>
                          <td>{{data.department}}</td>
                          <td>{{data.problemid}}</td>
                          <td class="highlighter">{{data.problemtitle}}</td>
                          <td>{{data.priority}}</td>
                          <td>
                            <label class="badge badge-warning open-label">Open</label>
                          </td>
                          <td>{{data.date}}</td>
                          <td>
                            <a href="User_Edit_Ticket/{{data.id}}"><button class="edit-btn"><i class="fa fa-edit"></i></button></a>
                            <a href="User_Delete_Ticket/{{data.id}}"><button class="delete-btn"><i class="fa fa-trash"></i></button></a>
                          </td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 Deskport. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="far fa-heart text-danger"></i></span>
        </div>
      </footer>
    </div>
{% endblock %}
