{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Deskport</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Landing_page/assets/img/favicon.ico' %}" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Style/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'Style/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'Style/style.css' %}">
    <style>
      .CodeMirror{
        z-index:0;
      } 
    </style>

</head>
<body class="horizontal-menu">
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar" style="position: relative;">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo" href="User_Dashboard"><img src="images/logo.svg" alt="DESKPORT"/></a>
              <a class="navbar-brand brand-logo-mini" href="User_Dashboard"><img src="images/logo-mini.svg" alt="DESKPORT"/></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">              
              <ul class="navbar-nav navbar-nav-right">
                
                <li class="nav-item dropdown">
                  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="fas fa-bell mx-0"></i>
                    <span class="count">16</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <a class="dropdown-item">
                      <p class="mb-0 font-weight-normal float-left">You have 16 new notifications
                      </p>
                      <span class="badge badge-pill badge-warning float-right">View all</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-warning">
                          <i class="fas fa-wrench mx-0"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-medium">From Admin</h6>
                        <p class="font-weight-light small-text">
                          Private message
                        </p>
                      </div>
                    </a>
                    
                  </div>
                </li>
                <li class="nav-item nav-profile dropdown" style="border: none;">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="{% static 'Resource/Default-icon.png' %}" alt="profile"/>
                    <span id="user-name-nav" style="text-transform: capitalize;">{{user_name}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                      <i class="fas fa-user-circle text-primary"></i>
                      Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'start_page' %}">
                      <i class="fas fa-power-off text-primary"></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
              
            </div>
        </nav>
        {% block content %}

        {% endblock %}
          
        </div>
        



        <script src="{% static 'Script/vendor.bundle.base.js' %}"></script>
        <script src="{% static 'Script/vendor.bundle.addons.js' %}"></script>
        <script src="{% static 'Script/off-canvas.js' %}"></script>
        <script src="{% static 'Script/hoverable-collapse.js' %}"></script>
        <script src="{% static 'Script/misc.js' %}"></script>
        <script src="{% static 'Script/settings.js' %}"></script>
        <script src="{% static 'Script/todolist.js' %}"></script>
        <script src="{% static 'Script/dashboard.js' %}"></script>
        <script src="{% static 'Script/data-table.js' %}"></script>
        <script src="{% static 'Script/jq.tablesort.js' %}"></script>
        <script src="{% static 'Script/tablesorter.js' %}"></script>
        <script src="{% static 'Script/summernote-bs4.min.js' %}"></script>
        <script src="{% static 'Script/tinymce.min.js' %}"></script>
        <script src="{% static 'Script/theme.js' %}"></script>
        <script src="{% static 'Script/editorDemo.js' %}"></script>

</body>
</html>